<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task form</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body>
    <div class="menu">
        <form method="POST">
                <input placeholder="Title" type="text" name="title" th:value="${title}"/>
                <br/>
                <br/>
                <input placeholder="Description" type="text" name="description" th:value="${description}"/>
                <br/>
                <br/>
                <div>
                    <button type="submit" class="floating-button">save</button>
                </div>
        </form>
    </div>
</body>
</html>