<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body>
    <div class="menu">
        <p th:text="${fullName}"></p>
        <p th:text="'E-mail: ' + ${email}"></p>
        </br>
        </br>
        <div class="create-task">
            <form method="POST" th:action="@{/user/task/create/{id}(id=${id})}">
                <input placeholder="Title" type="text" name="title" th:value="${title}"/>
                </br>
                </br>
                <textarea placeholder="Description task" name="description" cols="40" rows="5" th:value="${description}"></textarea>
                </br>
                </br>
                <div>
                    <input type="submit" class="floating-button-a" value="add task"/>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <div class="tasks">
            <form method="POST" th:action="@{/user/task/delete/{id}(id=${id})}">
            <h3>Your tasks</h3>
            <table>
                <td>
                    <th:block th:each="task : ${tasks}">
                        <input type="checkbox" name="selectTask" th:value="${task.id}">
                        <label th:text="${task.title}"></label>
                        <p th:text="'Description: ' + ${task.description}"></p>
                        </br>
                    </th:block>
                </td>
            </table>
                <button class="floating-button-a">Clear</button>
            </form>
        </div>

    </div>
</body>
</html>