<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login: My to do list</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body>
    <div class="menu">
        <form method="POST" th:action="@{/login}">
            <input type="text" placeholder="E-mail" name="email" th:value="${email}"/>
            </br>
            </br>
            <input type="text" placeholder="Password" name="passwordHash" th:value="${passwordHash}">
            </br>
            </br>
            <div>
                <button class="floating-button-a" type="submit">sign in</button>
            </div>
        </form>
            </br>
            </br>
        <div>
            <a class="floating-button-a" th:href="@{/auth/reg}">sign up</a>
        </div>
    </div>
</body>
</html>