<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu to do list</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body>
    <div class="menu">
        <div class="menu-admin">
            <a class="floating-button-a" th:href="@{/task/create}">Create task</a>
            <a class="floating-button-a" th:href="@{/task/list}">Tasks</a>
            <a class="floating-button-a" th:href="@{user/create}">Create user</a>
            <a class="floating-button-a" th:href="@{/user/list}">Users</a>
        </div>
    </div>
</body>
</html>